[Unit]
Description=Reload ASUS NB WMI Driver after resume
After=suspend.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/asus-nb-wmi-reload

[Install]
WantedBy=suspend.target
